<!doctype html>
<html>
<head>
      <title>Meadowlark Travel</title>
</head>
<body>
      <header><img src="/img/beautiful.jpeg" alt="Azaming Meadowlark Travel Logo"></header>
      {{{body}}}
</body>
</html>
